:root {
  --light: #fff;
  --dark: #1f2937;
  --primary: #3b82f6;
  --secondary: #e5e7eb;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 750px;
  margin: auto;
}

nav {
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--light);
}

nav a {
  color: var(--secondary);
}

header {
  padding: 8% 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--light);
}

button {
  background-color: var(--primary);
  color: var(--light);
  padding: 6px 30px;
  border: none;
  border-radius: 6px;
}

main {
  padding: 8% 0;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squareBoxes {
  display: flex;
  gap: 40px;
  margin-top: 4%;
}

.squareBoxes p {
  text-align: center;
  color: var(--dark);
  margin-top: 8px;
}

.boxImg {
  width: 125px;
  height: 125px;
  border: 3px solid var(--primary);
  border-radius: 10px;
}

.quoteBox {
  padding: 8% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
}

.quote {
  font-style: italic;
}

.quoteCredit {
  align-self: end;
  font-weight: bold;
}

.actionBox {
  display: flex;
  margin: 5% 10%;
  padding: 5% 10%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--light);
}

.actionBox button {
  border: 1.5px solid var(--light);
}

footer {
  padding: 2% 0;
  display: flex;
  justify-content: center;
  background-color: var(--dark);
  color: var(--light);
}
